<% include ./fragments/header.ejs %>
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    var options = <%-JSON.stringify(options)%>;
</script>

<div class="col-sm-9 col-md-10 col-md-offset-1 main" id="caseDiv">

    <div class="page-header">
        <h1>案例列表</h1>
    </div>


    <div v-show="display">
        <h1 style="color: #00B7FF;">&nbsp;&nbsp;&nbsp;暂无案件需要审核 ...</h1>
    </div>

    <div class="row-fluid" v-repeat="c:contents">
        <div class="col-md-6">
            <div>
                <label for="username">用户姓名:</label>
                <span id="username" class="text-muted">{{c.userInfo.openInfo.nickname}}</span><br>
            </div>

            <div>
                <label for="identityNumber">用户所在地:</label>
                <span id="identityNumber">
                    {{c.userInfo.openInfo.country}}&nbsp;
                    {{c.userInfo.openInfo.province}}&nbsp;
                    {{c.userInfo.openInfo.city}}
                </span>
            </div>

            <div>
                <label for="caseType">案例类型: </label>
                <span id="caseType">{{c.caseType}}</span>
            </div>

            <div>
                <label for="serviceType">服务类型: </label>
                <span id="serviceType">{{c.serviceType}}</span>
            </div>

            <div>
                <label for="price">价格: </label>
                <span id="price">{{c.price1}}(元)</span>
            </div>
            <p>{{c.caseDesc}}</p>
            <div>
                <textarea class="form-control" id="rejectedInfo{{c._id}}" data-value="" rows="3" placeholder="请填写拒绝理由"></textarea>
            </div>
            <div class="btn-group" style="margin-bottom: 50px;">
                <button class="btn btn-danger" v-on="click:onCaseRejected(c._id)">拒绝</button>
                <button class="btn btn-success" v-on="click:onCaseSuccess(c._id)">通过</button>
            </div>

        </div>
    </div>
</div>

<% include ./fragments/footer.ejs %>