<%include fragments/header.ejs%>
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    var options = <%-JSON.stringify(options)%>;
</script>


<div class="col-sm-9 col-md-10 col-md-offset-1 main" id="managerDiv">
    <h1 class="page-header">注册律师信息</h1>

    <div v-show="display">
        <h1 style="color: #00B7FF;">&nbsp;&nbsp;&nbsp;暂无注册律师需要审核 ...</h1>
    </div>

    <div class="media" v-repeat="c:contents">
        <div class="media-left">
            <img v-attr="src: c.identityFilename" style="width: 400px; height: 260px;"/>
        </div>

        <div class="media-body">
            <div class="media-heading">
                <h3><a href="/ap/manager/detail/{{c._id}}">详细信息</a></h3>
            </div>
            <br>
            <div class="media-right">
                <div>
                    <label for="username">真实姓名:</label>
                    <span id="username" class="text-muted">姓名: {{c.username}}</span><br>
                </div>

                <div>
                    <label for="identityNumber">身份证号码:</label>
                    <span id="identityNumber">{{c.identityNumber}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<% include fragments/footer.ejs %>