<%include ./fragments/header.ejs%>
<script type="application/javascript">
	var options = <%- JSON.stringify(options)%>
</script>
<div class="form-signin" id="signinDiv">
	<h2 class="form-signin-heading">请输入登陆信息</h2>
	<label for="inputEmail" class="sr-only">邮件地址</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	<p id="emailNotice" style="color: red;"></p>
	<label for="inputPassword" class="sr-only">密码</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	<p id="passwordNotice" style="color: red;"></p>
	<div class="checkbox">
		<label>
			<input type="checkbox" value="remember-me"> 记住登陆状态
		</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit" id="postAdminData">登陆</button>
</div>

</div>
</body>
<script type="application/javascript">
	$('#postAdminData').on('click',function(){
		var email = $('#inputEmail').val();
		if(!email) {
			return deliverMessageToNotice('emailNotice', '邮箱地址不能为空', 1000 * 5);
		}
		if(!validator.isEmail(email)) {
			return deliverMessageToNotice('emailNotice', '邮箱格式错误', 1000 * 5);
		}
		var pass  = $('#inputPassword').val();
		if(!pass){
			return deliverMessageToNotice('passwordNotice', '密码不能为空', 1000 * 5);
		}
		var settings = {
			type: 'POST',
			data: {email: email, password: pass},
			success:function(result){
				if(result.rtn != 0) return deliverMessageToNotice(result.notice, result.message, 1000 * 5);
				if(result.refer) return window.location.href = result.refer;
				window.location.href = '/';
			}
		};
		$.ajax('/aa/signin', settings);
	});
</script>
</html>
