<%include lawyer/fragments/header.ejs%>
<!-- Begin page content -->
<div class="jumbotron">
    <h1 >身边的法律专家, 便捷的法律服务</h1>
    <p class="text-info">宣传海报位置</p>

    <p class="text-primary">通过用户发起竞标，律师投标来促成优质和市场化的法律服务。</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<%include lawyer/fragments/footer.ejs%>
