<%include fragments/header.ejs%>
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
	var options = <%-JSON.stringify(options)%>;
</script>

<div class="panel panel-info" id="managerDiv">
	<div class="panel-heading">
		<h1 class="panel-title" style="font-size: 24px;">
			<strong>管理审核用户</strong>
		</h1>
	</div>
	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr style="text-align: center;">
					<td style="color: #00B7FF;"><strong>邮箱</strong></td>
					<td style="color: #00B7FF;"><strong>身份证号码</strong></td>
					<td style="color: #00B7FF;"><strong>身份证照片</strong></td>
					<td style="color: #00B7FF;"><strong>律师执证号码</strong></td>
					<td style="color: #00B7FF;"><strong>律师执证照片</strong></td>
					<td style="color: #00B7FF;"><strong>认证</strong></td>
					<td style="color: #00B7FF;"><strong>操作</strong></td>
				</tr>
			</thead>
			<tr v-repeat="c:contents" style="text-align: center;">
				<td>{{c.email}}</td>
				<td>{{c.identityNumber}}</td>
				<td><img v-attr="src:c.identityFilename" style="width: 40px; height: 40px;"></td>
				<td>{{c.lawyerId}}</td>
				<td><img v-attr="src:c.lawyerIdFilename" style="width: 40px; height: 40px;"></td>
				<td v-show="c.authentication == false">未认证</td>
				<td v-show="c.authentication == true"> 已认证</td>
				<td>
					<!-- Single button -->
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">通过</a></li>
							<li><a href="#">驳回</a></li>
							<li><a href="#">删除</a></li>
							<!--li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li-->
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>



</div>
</body>
<script type="application/javascript" src="/js/newbee.js"></script>
</html>