<%include fragments/header.ejs%>
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
	var options = <%-JSON.stringify(options)%>;
</script>

<div class="panel panel-info" id="signupDiv">
	<div class="panel-heading">
		<h1 class="panel-title" style="font-size: 24px;">
			<strong>填写注册信息</strong>
		</h1>
	</div>
	<div class="panel-body">
		<div id="userForm" class="form-horizontal">
			<div class="form-group">
				<label for="username" class="control-label col-sm-4">用户名</label>
				<div class="col-sm-4">
					<input type="text" id="username" name="username" class="form-control" placeholder="Enter Username">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label col-sm-4">邮箱</label>
				<div class="col-sm-4">
					<input type="email" id="email"  name="email" class="form-control" placeholder="Email Address">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="control-label col-sm-4">密码</label>
				<div class="col-sm-4">
					<input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
				</div>
			</div>
			<div class="form-group">
				<label for="cpassword" class="control-label col-sm-4">确认密码</label>
				<div class="col-sm-4">
					<input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirm Password">
				</div>
			</div>

			<div class="form-group">
				<label for="phoneNumber" class="control-label col-sm-4">手机号码</label>
				<div class="col-sm-4">
					<input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number">
				</div>
			</div>

			<br>

			<div class="form-group">
				<label for="identityNumber" class="control-label col-sm-4">身份证号码</label>
				<div class="col-sm-4">
					<input type="text" id="identityNumber" name="identityNumber" class="form-control" placeholder="ID Number">
				</div>
			</div>

			<div class="form-group">
				<label for="identityImage" class="control-label col-sm-4">身份证照片</label>
				<div class="col-sm-4">
					<input type="file" accept="image/*" id="identityImage" name="identityImage">
				</div>
			</div>

			<br>

			<div class="form-group">
				<label for="lawyerId" class="control-label col-sm-4">律师执业证号</label>
				<div class="col-sm-4">
					<input type="text" id="lawyerId" name="lawyerId" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="lawyerLocation" class="control-label col-sm-4">律师所在律所详情</label>
				<div class="col-sm-4">
					<input type="text" id="lawyerLocation" name="lawyerLocation" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="lawServiceArea" class="control-label col-sm-4">法律擅长领域</label>
				<div class="col-sm-4">
					<input type="text" id="lawServiceArea" name="lawServiceArea" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="lawyerIdImage" class="control-label col-sm-4">律师执业证照片</label>
				<div class="col-sm-4">
					<input type="file" accept="image/*" id="lawyerIdImage" name="lawyerIdImage">
				</div>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-info" v-on="click:onSign_up">提交</button>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</body>
<script type="application/javascript" src="/js/vue.min.js"></script>
<script type="application/javascript" src="/js/model.js"></script>
<script type="application/javascript" src="/js/newbee.js"></script>
</html>