<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile.theme-1.4.5.min.css" /> -->
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.map"></script> -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.map"></script> -->
    <script src="/js/signup.js"></script>
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>

<script type="application/javascript">

</script>

<div data-role="page" id="page1">

    <div data-role="header">
        <h1>请提供案件详情</h1>
    </div>

    <div data-role="content">
        <form action="" method="post">

            <label for="select-native-4" class="ui-hidden-accessible">案件类型</label>
            <select name="select-native-4" id="select-native-4">
                <option value="small">刑事辩护</option>
                <option value="small">离婚纠纷</option>
                <option value="small">房屋买卖拆迁纠纷</option>
                <option value="small">交通事故纠纷</option>
                <option value="small">劳动工伤纠纷</option>
                <option value="small">合同纠纷</option>
                <option value="small">债权债务纠纷以及公司法务纠纷</option>
            </select>


            <label for="select-native-4" class="ui-hidden-accessible">服务类型</label>
            <select name="select-native-4" id="select-native-4">
                <option value="small">免费电话咨询</option>
                <option value="small">付费电话咨询</option>
                <option value="small">线下实体服务</option>
            </select>

            <div class="ui-field-contain">
                    <label for="textarea-1">案件描述</label>
                    <textarea cols="40" rows="8" name="textarea-1" id="textarea-1">案件描述</textarea>
            </div>

            <div class="ui-field-contain">
                    <label for="textarea-2">我的诉求</label>
                    <textarea cols="40" rows="8" name="textarea-2" id="textarea-2">我的诉求</textarea>
            </div>


            <label for="select-native-4" class="ui-hidden-accessible">悬赏方式</label>
            <select name="select-native-4" id="select-native-4">
                <option value="small">按追讨金额比例</option>
                <option value="small">按具体金额</option>
            </select>


            <div class="ui-field-contain">
                    <label for="textinput-5">悬赏金额</label>
                    <input type="text" name="textinput-5" id="textinput-5" placeholder="Text input" value="" data-mini="true">
            </div>

            <div class="ui-field-contain">
                    <label for="slider-1">悬赏比例</label>
                    <input type="range" name="slider-1" id="slider-1" value="10" min="0" max="100" data-highlight="true">
            </div>


            <a href="#page2" data-role="button" type="submit">倾诉完毕，立即悬赏</a>

        </form>
    </div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="page2">

    <div data-role="header">
        <h1>another page</h1>
    </div>

    <div data-role="content">
        <h2>ppage content of anohter page</h2>
    </div><!-- /content -->

</div><!-- /page -->

</body>
</html>
