<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css" />
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<script type="application/javascript">

</script>

<div data-role="page" id="page1">

    <div data-role="header">
        <h1>请提供案件详情</h1>
    </div>

    <div data-role="content">
        <form action="" method="post">

            <div class="ui-field-contain">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                            <legend>案件类型</legend>
                            <input type="radio" name="radio-choice-hh-1" id="radio-choice-hh-1a" value="on" checked="checked">
                            <label for="radio-choice-hh-1a">居住</label>
                            <input type="radio" name="radio-choice-hh-1" id="radio-choice-hh-1b" value="off">
                            <label for="radio-choice-hh-1b">交通</label>
                            <input type="radio" name="radio-choice-hh-1" id="radio-choice-hh-1c" value="other">
                            <label for="radio-choice-hh-1c">婚姻</label>
                            <input type="radio" name="radio-choice-hh-1" id="radio-choice-hh-1d" value="other">
                            <label for="radio-choice-hh-1d">其他</label>
                        </fieldset>
            </div>

            <div class="ui-field-contain">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                            <legend>服务形式</legend>
                            <input type="radio" name="radio-choice-h-1" id="radio-choice-h-1a" value="on" checked="checked">
                            <label for="radio-choice-h-1a">电话咨询</label>
                            <input type="radio" name="radio-choice-h-1" id="radio-choice-h-1b" value="off">
                            <label for="radio-choice-h-1b">线下服务</label>
                            <input type="radio" name="radio-choice-h-1" id="radio-choice-h-1c" value="other">
                            <label for="radio-choice-h-1c">越快越好</label>
                        </fieldset>
            </div>

            <div class="ui-field-contain">
                    <label for="textarea-1">案件描述</label>
                    <textarea cols="40" rows="8" name="textarea-1" id="textarea-1">案件描述</textarea>
            </div>

            <div class="ui-field-contain">
                    <label for="textarea-2">我的诉求</label>
                    <textarea cols="40" rows="8" name="textarea-2" id="textarea-2">我的诉求</textarea>
            </div>

            <div class="ui-field-contain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                        <legend>悬赏方式</legend>
                        <input type="radio" name="radio-choice-hhh-1" id="radio-choice-hhh-1a" value="on" checked="checked">
                        <label for="radio-choice-hhh-1a">按追讨比例</label>
                        <input type="radio" name="radio-choice-hhh-1" id="radio-choice-hhh-1b" value="off">
                        <label for="radio-choice-hhh-1b">按金额</label>
                    </fieldset>
            </div>

            <div class="ui-field-contain">
                    <label for="textinput-5">悬赏金额</label>
                    <input type="text" name="textinput-5" id="textinput-5" placeholder="Text input" value="" data-mini="true">
            </div>

            <div class="ui-field-contain">
                    <label for="slider-1">悬赏比例</label>
                    <input type="range" name="slider-1" id="slider-1" value="10" min="0" max="100" data-highlight="true">
            </div>


            <a href="#page2" data-role="button" type="submit">倾诉完毕，立即悬赏</a>

        </form>
    </div><!-- /content -->

</div><!-- /page -->

<div data-role="page" id="page2">

    <div data-role="header">
        <h1>another page</h1>
    </div>

    <div data-role="content">
        <h2>ppage content of anohter page</h2>
    </div><!-- /content -->

</div><!-- /page -->

</body>
</html>
