<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile.theme-1.4.5.min.css" /> -->
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.map"></script> -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.map"></script> -->
    <script src="/js/home.js"></script>
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>

<div data-role="page" id="page0">
    <div data-role="header">
        <div data-role="navbar"><ul>
                <li><a href="#page0" class="ui-btn-active ui-state-persist">悬赏办案</a></li>
                <li><a href="#page1">我的案件</a></li>
                <li><a href="#page2">我的律师</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <form action="/va/user/cases" method="post" id="caseForm">

            <label for="caseType" class="ui-hidden-accessible">案件类型</label>
            <select name="caseType" id="caseType">
                <%caseType.forEach(function(type){%>
                <option value="<%=type.name%>"><%=type.label%></option>
                <%})%>
            </select>

            <label for="serviceType" class="ui-hidden-accessible">服务类型</label>
            <select name="serviceType" id="serviceType">
                <%serviceType.forEach(function(type){%>
                <option value="<%=type.name%>"><%=type.label%></option>
                <%})%>
            </select>

            <div class="ui-field-contain">
                    <label for="caseDesc" class="ui-hidden-accessible">案件描述</label>
                    <textarea cols="40" rows="8" name="caseDesc" id="caseDesc" placeholder="案件描述"></textarea>
            </div>

            <div class="ui-field-contain">
                    <label for="caseTarget" class="ui-hidden-accessible">我的诉求</label>
                    <textarea cols="40" rows="8" name="caseTarget" id="caseTarget" placeholder="我的诉求"></textarea>
            </div>

            <div class="ui-field-contain">
                <div data-role="tabs" id="tabs">
                    <p>悬赏方式</p>

                    <div data-role="navbar">
                        <ul>
                            <li><a href="#one" data-ajax="false" class="ui-btn-active">按照金额</a></li>
                            <li><a href="#two" data-ajax="false">按照比例</a></li>
                        </ul>
                          
                    </div>
                    <div id="one" class="ui-body-d ui-content">
                        <!-- <h3 class="ui-bar ui-bar-a ui-corner-all">Heading</h3> -->
                        <div class="ui-body ui-body-a ui-corner-all">
                            <input type="number" name="price1" id="price1" placeholder="在此输入赏金(元人民币)"
                                   value=""><span></span>

                            <p style="font-size: 0.8em;color: dimgrey">您可以通过悬赏一个固定的金额总数来悬赏招募律师</p>
                        </div>
                    </div>
                    <div id="two" class="ui-body-d ui-content">
                            
                        <div class="ui-body ui-body-a ui-corner-all">
                            <label for="price2">悬赏比例(%)</label>
                            <input type="range" name="price2" id="price2" value="10" min="0" max="100"
                                   data-highlight="true">

                            <p style="font-size: 0.8em;color: dimgrey">
                                一些案件可能追讨的金额有一个范围，比如一些债务纠纷案件，这时候您可以通过悬赏所追讨金额的一定比例来招募所需要的律师，追讨回的金额越多，律师所获取的报酬也越多。</p>
                        </div>
                    </div>
                </div>
            </div>
            <input data-role="button" type="submit" data-theme="b" value="倾诉完毕，立即悬赏">
        </form>
    </div>

</div>


<div data-role="page" id="page1">

    <div data-role="header">
        <div data-role="navbar"><ul>
                <li><a href="#page0">悬赏办案</a></li>
                <li><a href="#page1" class="ui-btn-active ui-state-persist">我的案件</a></li>
                <li><a href="#page2">我的律师</a></li>
            </ul>
        </div>
    </div>

    <div data-role="content">
        您暂时没有案件
    </div>
    <!-- /content -->

</div>
<!-- /page -->

<div data-role="page" id="page2">

    <div data-role="header">
        <div data-role="navbar"><ul>
                <li><a href="#page0">悬赏办案</a></li>
                <li><a href="#page1">我的案件</a></li>
                <li><a href="#page2" class="ui-btn-active ui-state-persist">我的律师</a></li>
            </ul>
        </div>
    </div>

    <div data-role="content">
        您暂时没有律师，赶快去选一个律师吧
    </div>
    <!-- /content -->

</div>
<!-- /page -->

</body>
</html>
