<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<script type="application/javascript">

    $(function(){
        $('#getVerifyCode').click(function(){
            var mobile = $('#inputMobile').val();
            if(!/\d{11}/.test(mobile)) return alert('请输入正确的手机号');
            $.post('/ua/voicecode', {mobile:mobile}, function(data, status){
                if(data&& data.rtn > 0) alert('error'+data.message);
            });
        });
    });

    var submitMobile = function(){
        var mobile = $('#inputMobile').val();
        var code = $('#inputCode').val();
        if(!/^\d{11}$/.test(mobile)){
            alert('请输入正确的手机号');
            return false;
        }
        if(!/^\d{4}$/.test(code)) {
            alert('请输入正确的验证码');
            return false;
        }

        $.post('/va/user/bindmobile', {mobile:mobile, code:code}, function(data, status){
            if(data && data.rtn == 0) window.location = '/wp/user/home';
            else alert('验证码错误');
        });
        return false;
    };

</script>

<div data-role="page" data-theme="a">

    <div data-role="header">
        <h1>输入手机号码登录</h1>
    </div>

    <div data-role="content">
        <form class="form-signin" onsubmit="return submitMobile()">
            <label for="inputMobile">手机号码</label>
            <input type="text" id="inputMobile" placeholder="输入手机号码" required autofocus>

            <label for="inputCode">验证码</label>
            <input type="text" id="inputCode" placeholder="输入验证码">

            <div data-role="fieldcontain" class="ui-hide-label">
                <fieldset data-role="controlgroup">
                    <legend>Agree to the terms:</legend>
                    <input type="checkbox" checked name="checkbox-agree" id="checkbox-agree" class="custom" />
                    <label for="checkbox-agree">我同意服务条款</label>
                </fieldset>
            </div>

            <div data-role="controlgroup" data-type="horizontal">
                <button id="getVerifyCode" data-inline="true">获取验证码</button>
                <button type="submit" data-inline="true">登录</button>
            </div>



        </form>
    </div><!-- /content -->

</div><!-- /page -->

</body>
</html>
