
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile.theme-1.4.5.min.css" /> -->
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.map"></script> -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!-- <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.map"></script> -->
    <script src="/js/signup.js"></script>
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>

<body>

<div data-role="page" id="home">

    <div data-role="header">
        <h1><b><%=info.openInfo.nickname%></b>, 欢迎使用律蜂</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
        <form onsubmit="return submitMobile()">

            <input type="tel" id="inputMobile" placeholder="输入手机号码" required autofocus>

            <fieldset data-role="controlgroup">
                <input type="text" id="inputCode" placeholder="输入验证码">
                <input type="button" id="getVerifyCode" value="获取验证码">
            </fieldset>

            <button data-theme="b" type="submit">登录</button>

        </form>
    </div><!-- /content -->

    <div data-role="footer"  data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal" style="text-align:center">
            <!-- <a href="#service">律蜂服务条款</a> -->

            <label for="checkbox-agree">
            <input type="checkbox" checked name="checkbox-agree" id="checkbox-agree">我同意服务条款

        </div>
    </div>

</div><!-- /page -->


<div data-role="page" id="service">

    <div data-role="header">
        <a href="#home" data-role="button" class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-notext"></a> <h3>律蜂服务条款</h3>
    </div><!-- /header -->

    <div data-role="content">

        <p>
            AngularJS应用的解析

            本节描述AngularJS应用程序的三个组成部分，并解释它们如何映射到模型-视图-控制器设计模式：

            模板（Templates）

            模板是您用HTML和CSS编写的文件，展现应用的视图。 您可给HTML添加新的元素、属性标记，作为AngularJS编译器的指令。 AngularJS编译器是完全可扩展的，这意味着通过AngularJS您可以在HTML中构建您自己的HTML标记！

            应用程序逻辑（Logic）和行为（Behavior）

            应用程序逻辑和行为是您用JavaScript定义的控制器。AngularJS与标准AJAX应用程序不同，您不需要另外编写侦听器或DOM控制器，因为它们已经内置到AngularJS中了。这些功能使您的应用程序逻辑很容易编写、测试、维护和理解。

            模型数据（Data）

        </p>

    </div>

</div>


</body>
</html>



