<%include fragments/header.ejs%>
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        var options = <%-JSON.stringify(options)%>;
    </script>
<div class="panel panel-info" id="signupDiv">
	<div class="panel-heading">
		<h1 class="panel-title" style="font-size: 24px;">
			<strong>填写注册信息</strong>
		</h1>
	</div>
	<div class="panel-body">
		<div id="userForm" class="form-horizontal">
			<div class="form-group">
				<label for="username" class="control-label col-sm-4">真实姓名</label>
				<div class="col-sm-4">
					<input type="text" id="username" name="username" class="form-control" placeholder="输入用户名">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label col-sm-4">邮箱</label>
				<div class="col-sm-4">
					<input type="email" id="email"  name="email" class="form-control" placeholder="输入邮箱地址">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="control-label col-sm-4">密码</label>
				<div class="col-sm-4">
					<input type="password" id="password" name="password" class="form-control" placeholder="新密码">
				</div>
			</div>
			<div class="form-group">
				<label for="cpassword" class="control-label col-sm-4">确认密码</label>
				<div class="col-sm-4">
					<input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="确认新密码">
				</div>
			</div>

			<br>

			<div class="form-group">
				<label for="identityNumber" class="control-label col-sm-4">身份证号码</label>
				<div class="col-sm-4">
					<input type="text" id="identityNumber" name="identityNumber" class="form-control" placeholder="证件号码">
				</div>
			</div>

			<div class="form-group">
				<label for="identityImage" class="control-label col-sm-4">身份证照片</label>
				<div class="col-sm-4">
					<input type="file" accept="image/*" id="identityImage" name="identityImage">
				</div>
			</div>

			<br>

			<div class="form-group">
				<label for="lawyerId" class="control-label col-sm-4">律师执业证号</label>
				<div class="col-sm-4">
					<input type="text" id="lawyerId" name="lawyerId" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="lawyerLocation" class="control-label col-sm-4">律师所在律所详情</label>
				<div class="col-sm-4">
					<input type="text" id="lawyerLocation" name="lawyerLocation" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="lawServiceArea" class="control-label col-sm-4">法律擅长领域</label>
                <div class="col-sm-4">
                    <select id="lawServiceArea" class="form-control">
                        <%for(var i=0; i< services.length; i++){%>
                        <option value="<%=services[i].label%>"><%=services[i].label%></option>
                        <%}%>
                    </select>
                </div>
			</div>

			<div class="form-group">
				<label for="lawyerIdImage" class="control-label col-sm-4">律师执业证照片</label>
				<div class="col-sm-4">
					<input type="file" accept="image/*" id="lawyerIdImage" name="lawyerIdImage">
				</div>
			</div>
            <div class="form-group">
                <label for="phoneNumber" class="control-label col-sm-4">手机号码</label>
                <div class="col-sm-4">
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="请填写手机号码">
                    <fieldset>
                        <input id="verifyCode" class="input-sm" type="text" placeholder="输入验证码">
                        <button class="btn btn-default" type="button" id="getVerifyCode">获取验证码</button>
                    </fieldset>

                    <br>
                    <br>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-info" onclick="postLawyerData()">提交</button>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

</div>
</body>
<script>

    $(function(){
        $('#getVerifyCode').click(function(){
            var mobile = $('#phoneNumber').val();
            if(!/\d{11}/.test(mobile)) return alert('请输入正确的手机号');
            $.post('/ua/lawyer/voicecode', {mobile:mobile}, function(data, status){
                if(data&& data.rtn > 0) alert('error'+data.message);
            });
        });
    });

	validator.authId = function(id){
		if(!id) return false;
		var re = new RegExp(/^[1-9]\d{16}[\d|x|X]$/g);
		return re.test(id);
	};

	function postLawyerData() {
		var formData = new FormData();
		var email = $('#email').val();
		if (!validator.isEmail(email)) return errorTip({code: 1, message: '邮箱格式错误'});
		var password = $('#password').val();
		var c_password = $('#cpassword').val();
		if (password != c_password) return errorTip({code: 1, message: '两次密码不一致'});

		var id = $('#identityNumber').val();
		if (!id) return errorTip({code: 1, message: '身份证号码不能为空'});
		if (!validator.authId(id)) return errorTip({code: 1, message: '身份证号码格式错误'});

        var phone = $('#phoneNumber').val();
        if (!/\d{11}/.test(phone)) return errorTip({code: 1, message: '手机号码格式错误'});
        var verifyCode = $('#verifyCode').val();
        if (!verifyCode) return errorTip({code: 1, message: '验证码不能为空'});

		var data = {
			username: $('#username').val(), password: password, email: email,
			phoneNumber: phone, verifyCode: verifyCode, identityNumber: id,
			identityImage: document.getElementById('identityImage').files[0],
			lawyerId: $('#lawyerId').val(),
			lawyerLocation: $('#lawyerLocation').val(),
			lawServiceArea: $('#lawServiceArea').val(),
			lawyerIdImage: document.getElementById('lawyerIdImage').files[0]
		};

		for (var key in data) {
			if (!data[key]) return errorTip({code: 1, message: 'Params error'});
			formData.append(key, data[key]);
		}

		var xhr = new XMLHttpRequest();
		xhr.open("POST", '/ua/signup', true);
		xhr.onload = function () {

			try {
				var res = typeof this.responseText === 'string' ? JSON.parse(this.responseText) : this.responseText;
			} catch (e) {
				return errorTip({code: 1, message: e});
			}

			var err = (res.code || res.rtn) && (res.code > 0 || res.rtn > 0) ? true : false;
			if (this.status == 200 && !err) {
				return successTip({code: 0, message: '注册成功, 跳转至扫描二维码订阅'}, 1000 * 2, true, '/up/subscribe');
				//return self.clearInput(['title', 'description', 'image', 'start', 'end']);
			}
			return errorTip(this.responseXML || this.responseText);
		};
		xhr.send(formData);
	}
</script>
</html>